<button (click)="isDrawerOpen = true" class="text-xl md:hidden">
  <i [class]="icon"></i>
</button>

<div
  *ngIf="isDrawerOpen"
  class="fixed inset-0 z-40 bg-black/50 bg-opacity-80 transition-opacity hidden md:block"
  (click)="isDrawerOpen = false"
></div>

<aside
  *ngIf="isDrawerOpen"
  class="fixed top-0 h-full w-[250px] bg-white dark:bg-black shadow-lg z-50 p-4 flex flex-col gap-2 transform transition-transform duration-300 animate-slide-in"
  [ngClass]="{ 'right-0': orientation === 'right', 'left-0': orientation === 'left' }"
>
  <button (click)="isDrawerOpen = false" class="self-end text-2xl dark:text-white">
    <i class="fa-solid fa-xmark"></i>
  </button>
  <ng-content></ng-content>
</aside>
