<div
  class="flex flex-col gap-4 p-5 border-r border-r-gray-200 rounded-2xl w-full relative"
  *ngIf="note.id"
  [ngStyle]="{ 'background-color': note.color }"
>
  <h2 class="text-xl font-bold">{{ note.title }}</h2>

  <div class="flex flex-col gap-2">
    <span class="flex" *ngIf="note.tags.length > 0">
      <div class="w-[150px] flex gap-2">
        <i class="fa-solid fa-tags"></i> {{ 'menu.tags' | translate }}
      </div>
      <ul class="flex flex-row gap-1 flex-wrap">
        <li *ngFor="let tag of note.tags">
          {{ tag }}{{ note.tags.length - 1 !== note.tags.indexOf(tag) ? ',' : '.' }}
        </li>
      </ul>
    </span>

    <span class="flex" *ngIf="note.lastEdit">
      <div class="w-[150px] flex gap-2">
        <i class="fa-regular fa-clock"></i> {{ 'main.lastEdited' | translate }}
      </div>
      {{ note.lastEdit | date: 'dd MMM yyyy' }}
    </span>
  </div>
  <app-text-area
    id="note-content"
    label="Content"
    [control]="contentControl"
    placeholder="main.form.contentDetailPlaceholder"
    [border]="false"
    [withLabel]="false"
  ></app-text-area>
  <div class="w-full flex justify-end items-center">
    <button class="cursor-pointer" (click)="handleOpenModal()">
    <i class="fa-solid fa-share-nodes text-lg hover:text-gray-500 hover:scale-115"></i>
  </button>
  </div>
<app-modal [isOpen]="isModalOpen" (closed)="handleCloseModal()">
  <app-email-list-form (emailsSubmit)="onEmailsSubmit($event)" [isLoading]="isLoading"></app-email-list-form>
</app-modal>
</div>
