<div class="relative space-y-1">
  <label for="tags" class="text-sm font-medium leading-none dark:text-white"> Tags </label>
  <div class="flex flex-wrap gap-2 my-2">
    <span
      *ngFor="let tag of value"
      class="px-2 py-1 bg-gray-100 dark:bg-[#181818] rounded flex items-center gap-1 text-sm dark:text-white"
    >
      {{ tag }}
      <button
        type="button"
        (click)="removeTag(tag)"
        class="ml-1 text-xs text-gray-500 px-[2px] hover:bg-gray-200 cursor-pointer"
        [disabled]="disabled"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </span>
  </div>

  <input
    type="text"
    [(ngModel)]="inputValue"
    (keydown.enter)="addTag(inputValue); $event.preventDefault()"
    (focus)="onFocus()"
    (blur)="onBlur()"
    placeholder="Escribe o selecciona una etiqueta"
    class="flex h-10 w-full rounded-md border border-gray-300 dark:border-gray-700 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:border-transparent focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-purple-600 disabled:cursor-not-allowed disabled:opacity-50"
    [disabled]="disabled"
  />
  <ul
    *ngIf="showDropdown && filteredTags().length > 0"
    class="absolute z-10 bg-white dark:bg-black rounded shadow-md mt-1 w-full max-h-40"
  >
    <li
      *ngFor="let tag of filteredTags()"
      (mousedown)="addTag(tag)"
      class="p-2 hover:bg-gray-100 dark:hover:bg-[#181818] cursor-pointer text-sm rounded dark:text-white"
    >
      {{ tag }}
    </li>
  </ul>
</div>
