<section class="flex w-full relative">
  <div
    class="list-notes-container flex flex-col w-1/4 p-5 gap-4"
    [ngClass]="{ 'border-r border-r-gray-200 dark:border-r-gray-700': selectedNoteId }"
  >
    <app-button (click)="isModalOpen = true" *ngIf="!isArchived">+ Create New Note</app-button>
    <app-list-of-notes
      [notes]="notes || []"
      [selectedNoteId]="selectedNoteId"
      (noteClick)="handleClick($event)"
    ></app-list-of-notes>
  </div>
  <div class="p-5 w-2/4">
    <app-note-details [note]="currentNote"
      (noteUpdated)="handleUpdate($event)"

    ></app-note-details>
  </div>
  <div class="flex flex-col p-5 gap-4 w-1/4" *ngIf="selectedNoteId">
    <app-button type="secondary" (click)="handleOpenArchiveModal()">
      <i class="fa-solid" [ngClass]="currentNote.isArchived ? 'fa-box-open' : 'fa-box-archive'"></i>
      {{ currentNote.isArchived ? 'Unarchive Note' : 'Archive Note' }}
    </app-button>
    <app-button type="secondary" (click)="handleOpenDeleteModal()">
      <i class="fa-solid fa-trash mr-1"></i> Delete Note
    </app-button>
  </div>
  <span
    *ngIf="notes.length === 0"
    class="top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 absolute font-medium flex flex-col items-center justify-center gap-4"
  >
  <i class="fa-solid fa-circle-exclamation text-4xl text-gray-300"></i>
   <p> Aun no hay notas registradas en la base de datos, puedes crear una nueva.</p>
  </span>
</section>
<app-modal [isOpen]="isModalOpen" title="Note Details" (closed)="isModalOpen = false">
  <app-note-form (addNote)="handleAddNote($event)"></app-note-form>
</app-modal>
<app-modal [isOpen]="isDeleteModalOpen" title="Note Details" (closed)="isDeleteModalOpen = false">
  <span class="flex flex-col items-center gap-4 w-full pb-4">
    <div class="text-3xl"><i class="fa-solid fa-triangle-exclamation"></i></div>
    <p class="dark:text-white">¿Are you sure you want to delete this note?</p>
  </span>
  <span class="flex gap-2 w-full mt-4 justify-start flex-row-reverse">
    <app-button class="w-1/4" type="primary" (click)="delete()"> Delete </app-button>
    <app-button class="w-1/4" type="secondary" (click)="isDeleteModalOpen = false"
      >Cancel</app-button
    >
  </span>
</app-modal>
<app-modal [isOpen]="isArchiveModalOpen" title="Note Details" (closed)="isArchiveModalOpen = false">
  <span class="flex flex-col items-center gap-4 w-full pb-4">
    <div class="text-3xl"><i class="fa-solid fa-triangle-exclamation"></i></div>
    <p class="dark:text-white">
      ¿Are you sure you want to
      {{ currentNote.isArchived ? 'unarchive' : 'archive' }} this note?
    </p>
  </span>
  <span class="flex gap-2 w-full mt-4 justify-start flex-row-reverse">
    <app-button class="w-1/4" type="primary" (click)="archive()">
      {{ currentNote.isArchived ? 'Unarchive' : 'Archive' }}
    </app-button>
    <app-button class="w-1/4" type="secondary" (click)="isArchiveModalOpen = false"
      >Cancel</app-button
    >
  </span>
</app-modal>
