.epilogue { font-family: 'Epilogue', sans-serif; }
.inter { font-family: 'Inter', sans-serif; }
.roboto { font-family: 'Roboto', sans-serif; }
.nunito { font-family: 'Nunito', sans-serif; }
.work-sans { font-family: 'Work Sans', sans-serif; }