<a
  [routerLink]="props.route"
  [ngClass]="{
    'bg-transparent md:bg-gray-100 dark:md:bg-[#181818] ': props.active,
    'hover:bg-gray-100 dark:hover:bg-[#181818]': !props.active,
  }"
  class="flex items-center justify-between gap-2 px-4 py-2 rounded-lg transition-colors text-gray-900 cursor-pointer dark:text-white w-[40px] md:w-full "
>  <div class="flex items-center gap-2">
    <i
      [class]="props.icon"
      [ngClass]="{
        'text-purple-500': props.active,
        'text-gray-900 dark:text-white': !props.active,
      }"
    ></i>
    <span class="hidden md:block">{{ props.label | translate }}</span>
  </div>
<div class="hidden md:block" *ngIf="props.active">
    <i class="fa-solid fa-angle-right"></i>
</div>
</a>
